
section#search-results {
    min-height: 600px;
    align-items: center;
}


span.search-results-placeholder {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #888888;
}